/* src/components/Partners.css */
.partners-section {
    background-color: #000; /* Черный фон */
    color: #d1ff2e; /* Светло-зеленый цвет текста */
    padding: 50px 20px;
    text-align: center;
  }
  
  .partners-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .partners-section p {
    font-size: 18px;
    margin-bottom: 40px;
  }
  
  .partners-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .partner-card {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  .partner-card img {
    width: 100%;
    border-radius: 10px;
  }
  
  .h23 {
    color: #ff2ec1; /* Яркий розовый цвет заголовка */
    font-size: 24px;
    margin: 10px 0;
  }
  
  .p {
    color: white; /* Светло-зеленый цвет текста */
    font-size: 14px;
    margin-top: 35px;
  }
  
  .spann {
    border: 1px solid;
    border-radius: 20px;
    color: black;
    background-color: #d1ff2e;
  }
 .spann b {
    background: #d1ff2e;
    border-radius: 30px;
    padding: 5px;
 }

 .poss {
    color: white;
 }

 .simple-div {
  margin-left: 50px
 }